@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./../assets/fonts/PT_Sans-Web-Regular.ttf');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./../assets/fonts/PT_Sans-Web-Italic.ttf');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./../assets/fonts/PT_Sans-Web-Bold.ttf');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: url('./../assets/fonts/PT_Sans-Web-BoldItalic.ttf');
}
